---
layout: base
---

{% include header.html type="post" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      {% if page.gh-repo %}
      {% assign gh_split = page.gh-repo | split:'/' %}
      {% assign gh_user = gh_split[0] %}
      {% assign gh_repo = gh_split[1] %}


      <div id="header-gh-btns">
        {% if page.gh-badge.size > 0 %}
        {% for badge in page.gh-badge %}
        {% case badge %}
        {% when 'star'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'watch'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'fork'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true"
          frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
        {% when 'follow'%}
        <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0"
          scrolling="0" width="220px" height="20px"></iframe>
        {% endcase %}
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}

      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
        {% include {{ file }} %}
        {% endfor %}
      </div>
      {% endif %}

      <article role="main" class="blog-post">
        {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" %}
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        {% for tag in page.tags %}
        <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
      </div>
      {% endif %}

      {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
        {% include {{ file }} %}
        {% endfor %}
      </div>
      {% endif %}

      {% if page.social-share %}
      {% include social-share.html %}
      {% endif %}

      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top"
            title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top"
            title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>

      <!-- 来必力City版安装代码 -->
      <div id="lv-container" data-id="city" data-uid="MTAyMC81MjM3OC8yODg1Ng==">
        <script type="text/javascript">
          //平台、设备和操作系统(使来必力评论系统只在电脑端加载)
          var system = {
            win: false,
            mac: false,
            xll: false
          };
          //检测平台
          var p = navigator.platform;
          system.win = p.indexOf("Win") == 0;
          system.mac = p.indexOf("Mac") == 0;
          system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
          if (system.win || system.mac || system.xll) {
            (function (d, s) {
              var j, e = d.getElementsByTagName(s)[0];
              if (typeof LivereTower === 'function') { return; }
              j = d.createElement(s);
              j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
              j.async = true;
              e.parentNode.insertBefore(j, e);
            })(document, 'script');
          }

        </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
      </div>
      <!-- City版安装代码已完成 -->

    </div>
  </div>
</div>